/**
 * @file field-widget.css
 * Customization of Translation Field Diffuser input in field widget.
 */
.translation-field-diffuser-checkbox {
  vertical-align: middle;
}

.translation-field-diffuser-checkbox,
.translation-field-diffuser-checkbox + label {
  display: none;
}
